*{
    margin: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color:black;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;/*deixa o centralizar no centro*/
    align-items: center;/*deixa os itens centralizar no centro e no meio*/
}
.extra{
    color: white;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
}
#relogio{
    text-shadow: 4px 4px rgb(255, 255, 255);
    color: rgb(7, 162, 189);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    font-size: 180px;
}
button{
    border-radius: 10px;
    font-size: 35px;
    color: rgb(7, 162, 189);
    background-color: black;
    border:2px solid  rgb(7, 162, 189);
}
@media only screen and (max-width:700px){
    #relogio{
        font-size: 90px;
    }
    button{
        border-radius: 5px;
        font-size: 18px;
    }
    .extra{
        font-size:12px;
    }
}
@media only screen and (max-width:400px){
    #relogio{
        font-size: 50px;
    }
}
 