*{
    margin: 0px;
}

body{
    margin: 0px;
    width: 100%;
    background-color: #141525;    
    font-family: Helvetica, sans-serif;    
    text-align: center;
}

#play{
    border: solid 1px green;
    color: green;
}

#stop{
    border: solid 1px red;
    color: red;
}

h1{
    color: white;
    padding: 50px;
}

p{
    color: white;
}

button{
    background-color: #141525;  
}

@media only screen and  (min-width: 500px){ 
    body{
        min-width: 360px;
    }

    p{        
        font-size: 90px;
    }
    
    button{
        margin: 50px; 
        border-radius: 20px;
        width: 120px;
        height: 40px;
    }    
    
}

@media only screen and (max-width: 500px){
    p{
        font-size: 60pt;
    }
    button{
        margin: 30px;
        width: 80%;
        height: 50px;
        border-radius: 30px;
    }
}

