
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0px;
}
html,body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-family:'Pacifico', cursive;
    font-size:80px;
    margin-bottom: 20px;
    color: #B22222;
    font-weight: bold;
    text-shadow: 0 1px 0 #cccccc, 
0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 
0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 
0 6px 1px rgba(0, 0, 0, 0.1), 
0 0 5px rgba(0, 0, 0, 0.1), 
0 1px 3px rgba(0, 0, 0, 0.3), 
0 3px 5px rgba(0, 0, 0, 0.2), 
0 5px 10px rgba(0, 0, 0, 0.25), 
0 10px 10px rgba(0, 0, 0, 0.2), 
0 20px 20px rgba(0, 0, 0, 0.15);
}
ul,li{
   margin: 0px;
   display: inline-block;
   list-style: none;
   
}
ul{
    font-size:0;
    width: 100%;
    height: 60px;
    
}
li{
    border-style: none;
    padding: 2px;
    margin: 0px;
    height: 60px;
}
#linput{
    padding: 2px;
    font-size: 14px;
    
    border: 1px solid rgb(200, 197, 197); ;
    color:rgb(114, 102, 102);
    text-align: center;
    border-radius: 90px 0px 0px 90px;
    margin: 0px;
    width: 600px;
    display: inline;
    height:100%;
}
.lbutton{
    font-family: 'Pacifico';
    font-weight: 800;
    color:white;
    border-radius: 0px 90px 90px 0px;
    border: 2px solid #B22222;
    background-color:#B22222;
    padding: 0px;
    width: 100px;
    display: inline;
    height: 64px;
}
button:focus { 
    outline: none;
    background-color:rgb(209, 21, 21);
}
input:focus { 
    outline: none;
}
#resultado{
    margin-top: 40px;
    font-family:'Pacifico', cursive;
    font-size:50px;
}

@media only screen and (max-width:770px){
    #resultado{
        font-size:40px;
    }
    h1{
        font-size: 70px;
    }
    #linput{
        width: 400px;
    }
}
@media only screen and (max-width:570px){
    #resultado{
        font-size:30px;
    }
    h1{
        font-size: 60px;
    }
    #linput{
        width: 200px;
    }
}
